.container {
    background-color: var(--color5);
    min-height: 100vh;
    padding: 6vh 0;
}

.content {
    /* height: 88vh; */
    /* margin-top: 48px; */
    overflow: scroll;
}

.link {
    text-decoration: none;
    color: inherit;
}

.content::-webkit-scrollbar {
  display: none;
}

