.container {
    background-color: var(--color5);
    /* height: 100vh; */
}

.content {
    height: 88vh;
    margin-top: 48px;
    overflow: scroll;
}

.link {
    text-decoration: none;
    color: inherit;
}

.content::-webkit-scrollbar {
  display: none;
}

