:root {
    --dev-color-login: #ffffff;  
    --dev-color-logo: #6D6D6D;      /* logo banner */
    --dev-color-loginTEXT : #000000;
    --dev-color-use_passTEXT : #000000;
    --dev-color-haveacc : #000000;
    --dev-color-link: #6D6D6D;      /* สี link */
    --dev-color-inputbox: #D9D9D9;
}

.container {
    user-select: none;      
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;  
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    /* สีฝั่งขวา (login section) */
    background-color:var(--dev-color-login);
}
.logo {
    order: 2; 
}

.loginbox {
    order: 1;
}

.loginbox{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 45%;
    /* สีฝั่งซ้าย (logo section) */
    background-color: var(--dev-color-logo);
    border-radius: 48px 0px 0px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.logininbox{
    width: 53%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    /* background-color: #6D6D6D; */
    /* border: 1px solid black; */

}
.logininbox h2{
   margin-bottom: 12px;
   font-size: 32px;
   font-weight:800;
   width: 100%;
   color: var(--dev-color-loginTEX);
}
.logininputbox{
    width: 100%;
    height: 24%;
    padding: 10px 0px;
    /* border: 1px solid black; */

}
.logininputbox p{
    color: var(--dev-color-use_passTEXT);
    font-size: 16px;
    margin-bottom: 4px;
}
.logininputbox input{
    width:100%;
    height: 58%;
    border-radius: 24px;
    border: none;
    background-color: var(--dev-color-inputbox);
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logininbox input:focus {
    outline: none;
    box-shadow: none;
}
.submitbtn{
    width: 42%;
    height: 38px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
.submitbtn span{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.submitbtn  span:nth-child(1) {
    font-size: 14px;
}
.submitbtn  span:nth-child(2) {
    font-size: 16px;
    padding-left: 4px;
}
.doyouhaveacc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doyouhaveacc span{
    color: var(--dev-color-haveacc);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 12px;
}
.doyouhaveacc div{
    margin: 4px 0px;
    height: 16px;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.doyouhaveacc span a{
    text-decoration: none;
    color:var(--dev-color-link);
}
.doyouhaveacc span a:hover{
    text-decoration: underline;
}
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    .logininbox h2{
        font-size: 28px;
    }
    .logininputbox{
        width: 100%;
        height: 16%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid black; */
    }
    .doyouhaveacc div{
        margin: 4px 0px;
        height: 12px;
        width: 100%;
        display: flex;  
        justify-content: center;
        align-items: center;
    }
    .logininputbox input{
        border-radius: 20px;
    }
    .submitbtn{
        margin-top: 36px;
        border-radius: 20px;
    }
    .logo {
        width: 100%;
        height: 33%;
        border-radius: 0px 0px 48px 48px;
    }
    .loginbox{
        width: 100%;
        height: 67%;
    }
    .logininbox{
        width: 80%;
        height: 100%;
    }
    .logininputbox input{
        width:100%;
        height:60%;
        border: none;
    }
     .logo {
        order: 0; /* logo จะอยู่บนสุด */
    }

    .loginbox {
        order: 1;
    }
}
