.container {
    margin: 0;
    padding: 10vh 0;
    box-sizing: 0;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background-color: var(--color5);
    min-height: 100vh;
}

.myOrder {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}

.blogItem {
    /* display: grid; */
    /* grid-template-columns: 0.5fr 2fr 0.5fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--color3);
    padding: 10px 0;
}

.quantity {
    p{
        display: inline;
        padding: 5px;
        border-radius: 5px;
        border: solid 2px var(--color3);
    }
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    button {
        background: none;
        cursor: pointer;
    }
}

.addOnList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color:  var(--color2);
    /* align-items: center; */
    /* li {
        border: solid 1px;
        color: var(--color2);
        border-radius: 10px;
        list-style-type: none;
        padding: 0 5px;
    } */
}

.totalPrice {
    display: flex;
    justify-content: space-between;
}

.myBalance {
    padding: 0 30px;
    border-top: solid 10px var(--color3);
}

.content{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blogBalance {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topUpBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    background-color: var(--color3);
    border-radius: 5px;
    cursor: pointer;
}

.blogActionBtn {
    display: flex;
    justify-content: space-between;
    
    .cancleBtn {
        padding: 10px 70px;
        border-radius: 20px;
        border: solid 1px var(--color1);
        background-color: var(--color5);
        color: var(--color1);
        cursor: pointer;
    }

    .acceptBtn {
        padding: 10px 70px;
        border-radius: 20px;
        background-color: var(--color1);
        color: white;
        cursor: pointer;
    }
}
.itemDetail {
    display: flex;
    flex-direction: row;
    gap: 10px;
}