.container{
    background-color: var(--color5);
    color: var(--color1);
    width: 100%;
    min-height: 100vh;
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.modeCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    text-align: center;
}