.container {
    margin: 0;
    padding: 0;
    font-family: "Noto Looped Thai UI";
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: var(--color5);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.balance {
    width: 216px;
    height: 84px;
    margin-top: 20px;
    display: inline-flex;
    padding: 10px 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E6E6E6;
    border-radius: 10px;
}

.amount {
    width: 364px;
    height: 154px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;

    .options{
        display: flex;
        gap: 15px;
    }

    button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        padding: 5px;
        border-radius: 10px;
    }

    
}

.customAmount{
    display: flex;
    gap: 20px;
    align-items: center;

    div {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    input {
        border-radius: 5px;
        padding: 5px;
        width: 70%;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
    
}



.header {
    border-bottom: solid 1px ;
    border-color: #D9D9D9;
    font-size: 20px;
    font-weight: 700;
}


.paymentmethod {
    width: 362px;
    height: 176px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
    padding: 20px 15px;
    border-radius: 10px;
    
    .optionMethod{
        display: flex;
        gap: 12px;
        
        .payment{
            border-radius: 5px;
            width: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
            gap: 7px;
            font-size: 14px;
        }
    }

    img {
        width: 50px;
        height: 50px;
    }
}

.btnTopup  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 169px;
    height: 51px;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.icon {
    width: 50px;
}

.active {
    background-color: #6D6D6D;
    color: #ffffff;
}

.activepayment{
    border: solid 1px;
}

.overlayTopup {
    width: 250px;
    height: 200px;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        position: absolute;
        top: 70px;
        padding: 0 10px;
        text-align: center;
    }

    .actionBtn{
        position: absolute;
        bottom: 25px;
        display: flex;
        gap: 30px;
        
        button {
            padding: 5px 20px;
            border-radius: 20px;
        }
    }
}
