.container {
    display: grid;
    grid-template-columns: 0.75fr 2.75fr 0.75fr;
    height: 92px;
    border-bottom: solid 1px;
    margin-bottom: 3px;
}


.left_content {
    padding: 0;
    justify-self: center;
    align-self: center;
}

.middle_content {
    align-self: center;
    padding-left: 20px;

    .viewdetail{
        color: #b9b9b9;
        display: flex;
        gap: 5px;
    }
}

.right_content {
    margin-top: 15px;
    justify-self: center;
    /* align-self: center; */
}