.container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.sidebar{
    width: 20%;
    background-color: #D77948;
    display: flex; 
    flex-direction: column;   
}
.sidebarsection{
    height: 12%;
    background-color: #D77948;
    border-bottom: 2px solid #E6E6E6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarsection div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebarsection button{
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color:#ffffff00;
    border: none;
    transition: all 0.2s ease;
}
.sidebarsection button:hover{
    background-color: #E7D5B3;
    color: black;
}
.sidebarsection button span:nth-child(1) {
    margin-left: 18%;
    font-size: 28px;
}
.sidebarsection button span:nth-child(2) {
    padding-top: 6px;
    margin-left: 4%;
   font-size: 20px;
}
#logoutbtn{
    border-bottom: none;
    border-top: 2px solid #E6E6E6;
    margin-top: auto;          
}
.floatingBtn {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease-in-out;
  display: flex;            
  align-items: center;
  justify-content: center;
}

.floatingBtn span {
  font-size: 30px;     /* ขยาย icon */
}
.floatingBtn:hover {
  transform: scale(1.05);
  background-color: rgb(80, 80, 80);
}

.shopcontent{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shophead{
    padding-top: 20px;
    height: 25%;
    width: 100%;
}
.shophead div{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
}
.restaurantname{
    display: flex;
}
.restaurantname div{
    height: 100%;
    display: flex;
    align-items: center;
}
.restaurantname div h2{
   font-size: 28px;
   margin-left: 32px;
}
.restaurantname div button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: #e6e6e600;
}
.restaurantname div button span{
    font-size: 40px;
}

.category{
    margin-top: 8px;
    height: 48px;
    display: flex;
}
.all{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all button{
    width: 67px;
    height: 48px;
    border-radius:20px ;
    border: none;
    color: white;
    background-color: #6D6D6D;
    font-size: 14px;
    font-weight: 600;
}
.cate{
    flex:1;
    display: flex;
    align-items: center;
    border-left:2px solid #D5D5D5;
    flex:9;
    gap: 16px;
    padding-left: 16px;
}
.cate button{
    min-width: 67px;
    padding: 0 28px 0 28px;
    height: 48px;
    border-radius:20px ;
    border: none;
    color: rgb(0, 0, 0);
    background-color: #D5D5D5;
    font-size: 14px;
    font-weight: 600;
}
.s_content_detail{
    width: 85%;
    height: 80%;
    /* border :1px solid black; */
    flex-wrap: wrap;
    overflow-y: scroll  ;
    display: flex;
    padding-left: 2%;
    gap:3%;
}
.menu{
    width: 225px;
    height: 255px;
    /* border :1px solid black; */
}
.menuimg{
    width: 100%;
    height: 186px;
    background-color: #D5D5D5;
    border-radius: 15px;

}
.menudetail{
    display: flex;
    flex-direction: column-reverse;
    height: 69px;
    /* border :1px solid black; */
}

.sidebarright {
  width: 24%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 8px 0 0 8px; /* มุมซ้ายโค้ง */
  box-shadow: -4px 0 12px rgba(0,0,0,0.1); /* เงาลอย */
  z-index: 1000; /* ทับเนื้อหาอื่น */
}
.headerstotalsales{
    margin-top: 40px;
}
.moneyCircle {
  width: 220px;
  height: 220px;
  background-color: #E4CE8E;
  border-radius: 50%;
  margin: 20px auto;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ยอดเงิน */
.totalAmount {
  font-size: 24px;
  font-weight: bold;
  color: #3d3d3d;
  margin: 0;
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
}

/* ข้อความ "ยอดเงินคงเหลือ" */
.subText {
  font-size: 16px;
  color: #555;
  margin: 0;
  position: absolute;
  top: 72px;
}

.eyeButton {
  position: absolute;
  bottom: 15px;
  right: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #3d3d3d;
  transition: transform 0.15s ease;
}


.eyeButton:hover {
  transform: scale(1.15);
}

.eyeButton span {
  font-size: 24px;
}
.withdrawButton {
    width: 284px;
    display: block;
    font-weight: lighter;
    padding: 12px 24px;
    background-color: #393E46;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.withdrawButton:hover {
    text-decoration: underline;
  background-color: #393E46;
  transform: translateY(-2px);
}
.footerSection {
  margin-top: 40px;
  width: 100%;

  border-radius: 20px;
  display: flex;
  flex-direction: column;

  height: 45%;
}

/* ปุ่มแท็บ */
.tabButtons {
  display: flex;
  justify-content: space-around;
  width: 40%;

  height: 16%;
}
.sectionofcirclemoney{
    height: 55%;
}
.tabBtn {
    color: white;
    background-color: #D77948;
    border-radius: 20px 20px 0px 0px;
    flex: 1;    
    padding: 10px;

    border: none;   
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tabBtn:hover {
  color: #000;
}

.activeTab {
    background-color: #E7D5B3;
    color: #000;
    font-weight: 600;

}

/* เนื้อหาในแท็บ */
.tabContent {
    background-color: #E7D5B3;
    text-align: center;
    color: #444;

    height: 84%;
}
.historywithdrawflex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.historywithdrawflex > div:first-child {
    flex: 3;
    padding: 4px 8px;
    font-size: 14px;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    height: 100%;
    font-weight: 600;
}

.historywithdrawflex > div:last-child {
    flex: 7;
    padding: 4px 8px;
    font-size: 14px;
    text-align: left;
    color: #222;
    
}