
.container{
    background-color: var(--color5);
    color: var(--color1);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.title{
    font-size: 20px;
}

.infoIcon{
    width: 24px;
    height: 24px;
}
.infoContainer{
    font-size: 14px;    
    width: 275px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.timeContainerBase{
    border-bottom: 2px var(--color3) solid;
    padding: 10px 5px 15px 5px;
}
.timeContainer1{
    border-top: 2px var(--color3) solid;
}
.timeContainer1 p,
.timeContainer2 p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.timeBtBase{
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    outline: 1px var(--color3) solid; 
    outline-offset: -1px;
}
.timeBtAvl{
    background-color: var(--color3);
}
.timeBtNotAvl{
    background-color: transparent;
    color: var(--color3);
}
.timeBtContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}